
/* CRA DEFAULTS */
/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

/* PAGE */

body,
.pure-g [class*='pure-u'] {
  font-family: 'Open Sans', sans-serif;
}

.header {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Raleway', 'Arial Narrow', sans-serif;
}

code {
  padding: 0.25rem;
  margin: 0 0.25rem;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: calc(100% - 60px);
  max-width: 600px;
  padding: 45px 20px;
  margin: 0 auto;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type='text']:focus {
  border-color: #0c1a2b;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li:not(:last-child) {
  margin-bottom: 15px;
}

/* UPLOAD PAGE*/

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #4c5669;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #2e3440;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered p {
  color: #d8dee9;
}

/* Style the image inside the centered container, if needed */
.centered .errors {
  color: #bd626b;
}

.centered h1 {
  color: #eceff4;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  /* border-radius: 50%; */
}

.centered video {
  width: 150px;

  /* border-radius: 50%; */
}

section {
  display: flex;
}

aside {
  width: 50%;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

/* LOADING SCREEN */

.loading-screen {
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease-in-out;
}

.loading-screen.loaded {
  opacity: 0;
  visibility: hidden;
}

/* FORMS */

.pure-form {
  display: inline-block;
}

/* ALERTS */

.alert {
  padding: 0.5rem;
  color: darkgreen;
  background: darkseagreen;
  border: 1px solid darkgreen;
}
