/* CRA DEFAULTS */
/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/

/* PAGE */

body,
.pure-g [class*='pure-u'] {
  font-family: 'Open Sans', sans-serif;
}

.header {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Raleway', 'Arial Narrow', sans-serif;
}

code {
  padding: 0.25rem;
  margin: 0 0.25rem;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: calc(100% - 60px);
  max-width: 600px;
  padding: 45px 20px;
  margin: 0 auto;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type='text']:focus {
  border-color: #0c1a2b;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li:not(:last-child) {
  margin-bottom: 15px;
}

/* UPLOAD PAGE*/

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #4c5669;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #2e3440;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered p {
  color: #d8dee9;
}

/* Style the image inside the centered container, if needed */
.centered .errors {
  color: #bd626b;
}

.centered h1 {
  color: #eceff4;
}

.centered h2 {
  color: #eceff4;
}
/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  /* border-radius: 50%; */
}

.centered video {
  width: 150px;

  /* border-radius: 50%; */
}

section {
  display: flex;
}

aside {
  width: 50%;
}

/* WHISPER DETAILS*/

.whisper-details p {
  text-align: center;
  font-size: 10px;
  overflow-wrap: break-word;
  width: 65%;
  margin-left: 160px;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #0c1a2b;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

/* LOADING SCREEN */

.loading-screen {
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease-in-out;
}

.loading-screen.loaded {
  opacity: 0;
  visibility: hidden;
}

/* FORMS */

.pure-form {
  display: inline-block;
}

/* ALERTS */

.alert {
  padding: 0.5rem;
  color: darkgreen;
  background: darkseagreen;
  border: 1px solid darkgreen;
}

/* APP CARD */
.app-card {
  overflow: hidden;
  position: relative;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .app-card {
    width: 350px;
  }
}
.app-card .app-card-header {
  background: #f3f7ff;
}
.app-card .app-card-header .app-card-header-inner {
  padding: 10px 20px;
}
.app-card .app-card-content .app-card-content-inner {
  padding: 20px;
}
.app-card.app-card-uploading .app-card-content .app-card-content-inner,
.app-card.app-card-upload-sent .app-card-content .app-card-content-inner {
  padding: 40px;
}

.app-file-select-zone {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0 0 0;
}
.app-file-select-zone label {
  display: block;
  width: 100%;
}
.app-file-select-zone label input {
  position: fixed;
  top: -9999px;
}
.app-file-select-zone .app-upload-description {
  font-size: 12px;
  display: block;
}
.app-file-select-zone .app-upload-icon {
  display: inline-block;
  margin-bottom: 10px;
  width: 60px;
  height: 30px;
  border: 1px dashed #96a3bb;
  position: relative;
}
.app-file-select-zone .app-upload-icon i {
  position: absolute;
  left: 10px;
  top: -10px;
  background: #f3f7ff;
  font-size: 28px;
}
.app-file-select-zone.error .app-upload-icon {
  border-color: #d0152e;
}

.app-form-item {
  margin: 0 0 15px 0;
}
.app-form-item label {
  text-transform: uppercase;
  display: block;
  font-weight: 400;
  margin: 0 0 8px 0;
}
.app-form-item input[type='text'],
.app-form-item input[type='email'],
.app-form-item input[type='password'],
.app-form-item textarea {
  width: 100%;
  border: 1px solid #e0e0e0;
  outline: 0 none;
  padding: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.app-form-item input[type='text']:focus,
.app-form-item input[type='text'] :active,
.app-form-item input[type='email']:focus,
.app-form-item input[type='email'] :active,
.app-form-item input[type='password']:focus,
.app-form-item input[type='password'] :active,
.app-form-item textarea:focus,
.app-form-item textarea :active {
  outline: 0 none;
}
.app-form-item textarea {
  min-height: 50px;
}
.app-form-item.error input {
  color: #d0152e;
}
